
<form [formGroup]="modifyForm" style=" margin: 5%">
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="nom">Nom de l'insitution</label>
			<input type="text" formControlName="nom" class="form-control" id="nom" [(ngModel)]="institution.nom">
		</div>
		<div class="form-group col-md-6">
			<label for="raison">Raison sociale</label>
			<input type="text" formControlName="raison" class="form-control" id="raison"[(ngModel)]="institution.raison">
		</div>
		<div class="form-group col-md-6">
			<label for="type">Type de l'institution</label>
			<select id="type" formControlName="type" class="form-control" [(ngModel)]="institution.type">
				<option selected>Publique</option>
				<option>Privée</option>
				<option>Mixte</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="creation">Date de création</label>
			<input type="date" formControlName="creation" class="form-control" id="creation" [(ngModel)]="institution.creation">
		</div>
		<div class="form-group col-md-6">
			<label for="categorie">Catégorie</label>
			<select id="categorie" formControlName="categorie" class="form-control" [(ngModel)]="institution.categorie">
				<option selected>Entreprise</option>
				<option>Université</option>
				<option>Laboratoire</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="statut">Statut juridique</label>
			<select id="statut" formControlName="statut" class="form-control" [(ngModel)]="institution.statut">
				<option selected>SARL</option>
				<option>SPA</option>
				<option>SNC</option>
				<option>GP</option>
				<option>EURL</option>
				<option>SCA</option>
				<option>SCS</option>
				<option>Groupement</option>
				<option>Entreprise individuelle</option>
			</select>
		</div >
		<div class="form-group col-md-6">
			<label for="secteur">Secteur d'activité</label>
			<select id="secteur" formControlName="secteur" class="form-control" [(ngModel)]="institution.secteur">
				<option selected>Enseignement</option>
				<option>Taxonomie</option>
				<option>Conservation</option>
				<option>Production</option>
				<option>Agroalimentaire</option>
				<option>Banque de gène</option>
				<option>Chimie</option>
				<option>Parachimie</option>
				<option>Commerce</option>
				<option>Distribution</option>
				<option>Industrie pharmaceutique</option>
				<option>Études et conseils</option>
				<option>Services aux entreprises</option>
				<option>Transports et logistique</option>
			</select>
		</div>

		<div class="form-group col-md-6">
			<label for="email">Email</label>
			<input type="email" formControlName="email" class="form-control" id="email" [(ngModel)]="institution.email">
		</div>
		<div class="form-group col-md-6">
			<label for="site">Site web</label>
			<input type="text" formControlName="site" class="form-control" id="site" [(ngModel)]="institution.site">
		</div>
		<div class="form-group col-md-4">
			<label for="tel">Téléphone</label>
			<input type="text" formControlName="tel" class="form-control" id="tel" [(ngModel)]="institution.telephone">
		</div>
		<div class="form-group col-md-4">
			<label for="fax">Fax</label>
			<input type="text" formControlName="fax" class="form-control" id="fax" [(ngModel)]="institution.fax">
		</div>
		<div class="form-group col-md-4">
			<label for="adresse">Localisation</label>
			<input type="text" formControlName="adresse" class="form-control" id="adresse" [(ngModel)]="institution.adresse">
		</div>
		<div class="form-group col-md-6">
			<label for="typeApa">Type d'implication APA</label>
			<select id="typeApa" formControlName="typeApa" class="form-control" [(ngModel)]="institution.typeApa">
				<option selected>Fournisseur</option>
				<option>Utilisateur</option>
				<option>Point FocaL NationaL (PFN)</option>
				<option>Autorité nationale compétente (ANC)</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="anneeApa">Date d'implication dans l'APA</label>
			<input type="date" formControlName="anneeApa" class="form-control" id="anneeApa" [(ngModel)]="institution.anneeApa">
		</div>
		<div class="form-group col-md-12">
			<label for="infoAdd">Informations additionnelles</label>
			<input type="text" formControlName="infoAdd" class="form-control" id="infoAdd" [(ngModel)]="institution.infoAdd">
		</div>
	</div>
	<!--button class="btn btn-success" (click)="update()"> Modifier </button -->
	<button type="submit" class="btn btn-success" (click)="update()">Modifier</button>
</form>
