<script src="https://kit.fontawesome.com/bd29d0f843.js"></script>
<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5>APARGA</h5>
					<pre style="color: white;font-size: 14px;">
Accès et partage des 
avantages des ressources 
génétiques Algériennes
                    </pre>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Contactez nous</h5>
					<ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>contact@aparga.com</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>+21321199607</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Rue 25 Didouche Mourad</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Alger, Algérie 16005</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Autres</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>APA</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                        <h5>S'abonner</h5>
                        <pre style="color: white;font-size: 14px;">
Abonner avec nous pour recevoir
les dernières actualités
                        </pre>
                        <!--<form class="form-inline" [formGroup]="footerForm" >		
							<input type="text" class="form-control" placeholder="Entrez votre mail">
    						<button type="button" class="btn btn-success" style="color: white; background-color: #0b8557;"><i class="fas fa-paper-plane"></i></button>    
                        </form>-->
                    </div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<hr color="white">
                    <p class="h6">All right reserved 2019 powered by R4SON and APA</p>          
				</div>
				
			</div>	
		</div>
	</section>
	<!-- ./Footer -->