<div class="container" *ngIf="activite">
    <div style="margin-left:3px; margin-top:4px;">
        <a href="/projets" (click)="deleteActiviteId(activite.id)" class="btn btn-danger button-supp">Supprimer</a>

    </div>

    <div style=" margin-top:50px;">
        <h4>
            <b>{{activite.titre}}</b>
        </h4>

        <h5> {{activite.description}}</h5>
        <img src="" style="height: 230px; width: 720px;">
    </div>

    <br>

    <h6> {{activite.contenu}}</h6>
    <br> <br> <br> <br> <br> <br> <br>
</div>
