.td-center {
  vertical-align: middle;
}
.thumbnail {
  max-width: 40px;
  max-height: 40px;
}
.action {
  max-width: 32px;
  max-height: 32px;
}
.circle {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
}

.circle.activated {
  background-color: rgb(111, 197, 72);
}
.circle.suspended {
  background-color: red;
}

.circle.inactive {
  background-color: rgb(226, 131, 42);
}

.mmodal {
  z-index: 65;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.808);
}

