<!-- Section: Magazine v.2 -->
<section class="magazine-section my-5" style="padding-left: 2%;padding-right: 2%;">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Les nouveautés sur les permissions</h2>
    <!-- Section description -->
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5">La biodiversité (les diverses espèces et leurs gènes) nous fournie une grande partie de nos médicaments actuels et ceux dont nous aurons besoin dans le futur. Parmi les 150 médicaments les plus prescrits, 118 proviennent d'êtres vivants et surtout de plantes. Près de 80 p. 100 de la population mondiale dépend de produits dérivés de plantes pour les soins de santé de base. Les sociétés multinationales spécialisées en biotechnologie ont reconnu cette valeur et font de la bioprospection au Canada et aux quatre coins du monde, à la recherche de matériel génétique utilisé pour les soins de santé, mais aussi en agriculture, dans les cosmétiques et en horticulture.
    </p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12">
  
        <!-- Featured news -->
        <div class="single-news mb-lg-0 mb-4">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-1-half mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!-- Data -->
          <div class="news-data d-flex justify-content-between">
            <a href="#!" class="deep-orange-text">
              <h6 class="font-weight-bold"><i class="fas fa-utensils pr-2"></i>Culinary</h6>
            </a>
            <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>27/02/2018</p>
          </div>
  
          <!-- Excerpt -->
          <h3 class="font-weight-bold dark-grey-text mb-3"><a>Title of the news</a></h3>
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
            error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
            inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
  
        </div>
        <!-- Featured news -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12">
  
        <!-- Small news -->
        <div class="single-news mb-4">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-3">
  
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-9">
  
              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">26/02/2018</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos
                    ducimus qui blanditiis</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-4">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-3">
  
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-9">
  
              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">25/02/2018</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente delectus</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-4">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-3">
  
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/87.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-9">
  
              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">24/02/2018</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo
                    minus</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-3">
  
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-9">
  
              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">23/02/2018</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-lg-3">
                  <a href="#!" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </div>
        <!-- Small news -->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Magazine v.2 -->



                                    <!--Button permission demand-->
<div class="permission_btn">
    <button type="button" class="btn btn-success btn-rounded" id="permission" [routerLink]="['demande']">Demande de permission</button>
</div>