.btn, 
.btn-success{
    background-color: #0b8557 !important;
    text-align: center !important;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
}

