<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7 ">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/APA_Access_and_use.jpg" alt="APA Access and Usage">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5 ">
      <h2 class="h2-responsive font-weight-bold text-left " style="margin-bottom: 15px">Permissions d'accès et d'utilisation de la biodiversité</h2>
      <p>Le Protocole de Nagoya prévoit des critères minimaux d’accès à prendre en compte dans les règles nationales pour l’accès et l’utilisation des ressources génétiques.</p>

      <!-- Call to action : Demande permis -->
      <div class="permission_btn">
      <button type="button" class="btn btn-success btn-rounded" id="permission" [routerLink]="['demande']">Demande de permission</button>
      </div>
      </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->


  <!-- Article Content -->
  <div class="container" style="padding-top: 20px">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">Régulation, contrôle et valorisation des ressources génétiques</h1>
        <hr>
        <!-- Post Content -->
        <p class="lead" style="padding-bottom: 40px">L’Accès et le partage des avantages reposent sur le principe de la souveraineté des États sur leurs ressources naturelles, y compris les ressources génétiques.
          Chaque Etat souverain a la responsabilité de réguler l’accès aux ressources génétiques présentes sur son territoire dans une optique de contrôle et de valorisation. </p>
        <p>L’obligation pour l’utilisateur de demander le consentement préalable donné en connaissance de cause du pays fournisseur, et la délivrance, par l’autorité compétente, d’un permis ou équivalent comme preuve du consentement préalable et de la conclusion d’un contrat de partage des avantages selon des conditions convenues d’un commun accord. Ce permis a une valeur de certificat de conformité.</p>
        <p>Chaque État a la responsabilité d'informer les demandeurs d'accès des procédures claires, transparentes et non arbitraires en vigueur, et de désigner une ou plusieurs autorités compétentes pour délivrer des autorisations d'accès. </p>

        <p>La demande d’accès doit aboutir à la délivrance d'un permis ou d’un document équivalent. Ce permis constitue la preuve de la décision d'accorder le consentement préalable en connaissance de cause et de la conclusion de conditions convenues d'un commun accord, une fois enregistré, le permis possédera la valeur de certificat de conformité internationalement reconnu. Pour l’utilisateur, c’est le document de preuve qui attestera de la légalité de l’acquisition dans le pays fournisseur.</p>
        <hr>
        <p class="lead">
          <a href="https://www.cbd.int/abs/doc/protocol/nagoya-protocol-fr.pdf">Document officiel du protocole de Nagoya</a><br>
          <a href="https://www.cirad.fr/publications-ressources/edition/etudes-et-documents/lignes-directrices-pour-l-acces-aux-ressources-genetiques-et-leur-transfert">Lignes directrices pour l’accès aux ressources génétiques et leur transfert</a>
          <br>
          <a href="https://lasef.org/wp-content/uploads/Protocole_nagoya_SyntheseAPA.pdf">Accès aux ressources génétiques et partage des avantages issus de leur utilisation (APA)</a>
        </p>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>

