<div class="container">
	<h2>Ajouter un projet</h2>
	<div class="field field--block">
		<input class="field__input input input--text input--required" id="1" type="text" />
		<label class="field__label label--required" for="1">Titre du projet</label>
	</div>
	<div class="field field--half">
		<input class="field__input input input--text" id="2" type="file" />
		<!--<input class="field__input input input--text" id="3" type="file" accept="image/*" />-->
	</div>
	
	<div class="field field--half">
		<input class="field__input input input--text" id="ta" type="text" />
		<label class="field__label" for="4">Nom de l'image</label>	
	</div>
	
	<div class="field field--three-quarter">
		<input class="field__input input input--text" id="description" type="text" />
		<label class="field__label" for="5">Description</label>	
	</div>
	
	<div class="field field--quarter">
		<input class="field__input input input--text" id="6" type="date" />
		<label class="field__label" for="6">Date</label>
	</div>
	
	<div class="field field--block">
		<textarea class="field__input input input--textarea" id="7" type="text"></textarea>
		<label class="field__label" for="7">Contenu</label>
    </div>
    
	<div class="field field--block form-action">
		<button class="btn btn--action">Ajouter &rarr;</button>
	</div>
</div>




