<!-- Article Content -->
<div class="container" style="padding-top: 56px">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 class="mt-4">Protocole de Nagoya</h1>

      <!-- Date/Time -->
      <p style="padding-top: 30px">Adopté par la Conférence mondiale sur la biodiversité de Nagoya le 29 Octobre 2010, au Japon</p>

      <hr>
      <!-- Preview Image -->
      <img class="img-fluid rounded" src="../../assets/img/Nagoya.jpg" alt="Conférence Nagoya " style="object-fit: cover">
      <hr>
      <!-- Post Content -->
      <p class="lead"> Signé à Nagoya par les représentants de plus de 193 pays, réunis lors de la conférence des parties à la Convention sur la Biodiversité (du 18 au 29 octobre 2010), l'accord de Nagoya vise à mieux protéger les espèces et les écosystèmes de la planète et à en partager plus équitablement les bénéfices. Signé en 2010, le Protocole de Nagoya sur l'accès et le partage des avantages (APA) n'est en vigueur que le 12 octobre 2014 et il réunit 59 parties (60 ratifications et 91 signatures).</p>

      <p><b>Le protocole de Nagoya</b> est un accord international en vertu de la convention sur la diversité biologique (CBD), dont l'objectif est de partager les avantages découlant de l'utilisation des ressources d'une manière juste et équitable. Ce protocole est aujourd'hui ratifié par 101 pays, situés majoritairement en Afrique, Asie et Amérique du Sud, et signé par 92 autres pays.</p>

      <p><b>L'objectif du protocole de Nagoya </b> est de faire en sorte que ceux qui accèdent aux ressources génétiques partagent les avantages monétaires et non monétaires qu'ils tirent de l'utilisation de telles ressources avec les payes d'origine et les communautés locales de ces pays.</p>

      <p></p>
      <blockquote class="blockquote" style="padding-top: 40px; font-size: 20px" >
        <p class="mb-0">l'article 21 du protocole de Nagoya prévoit que chaque partie doit prendre des mesures de sensibilisation du public à l'importance des ressources génétiques et des savoirs traditionnels qui y sont associés ainsi qu'à l'importance des questions relatives à l'accès à ces ressources et au partage des avantages en découlant.</p>
        <footer class="blockquote-footer">Protocole de Nagoya
        </footer>
      </blockquote>

      <p>
        <b>Pourquoi mettre en oeuvre l'APA en Algérie ?</b> <br>
        L'APA crée des conditions favorables à l'établissement de partenariats équitables entre le fournisseur et l'utilisateur de ressources génétiques et de connaissances traditionnelles associées, qui contribueront à l'avancement de la science et à la valorisation des ressources génétiques et du patrimoine naturel de l'Algérie. De plus, l'APA s'inscrit dans le cadre des objectifs mondiaux pour la conservation et à l'utilisation durable de la biodiversité et des objectifs de développement durable (ODD) à l'horizon 2030, adoptés par l'ensemble des états memebres des Nations Unies en 2015.
      </p>
      <p> <b>l'Algérie adopte le protocole de Nagoya</b> <br>
        En février 2011, l'Algérie a été parmi les premiers pays à signer le protocole de Nagoya. C'est dans ce cadre qu'à été organisé le 20 et 21 septembre 2017 à  Alger le 1er Atelier National de concertation sur la revue du cadre juridique et institutionnel sur l'Accès aux Ressources Génétiques et le Partage juste et équitable des Avantages découlant de leur utilisation par le Ministère de l'Agriculture, du développement Rural et de la Pèche à travers la Direction Générale des Forets en collaboration avec le Programme des Nations Unies pour le développement (PNUD).
        Des experts internationaux et nationaux, des représentants de plusieurs départements ministériels, des universitaires, des écoles, centres de recherche, agences nationales, ainsi que des représentants des secteurs publics et de la société civile étaient présents à cet atelier pour se concerter et présenter des recommandations.</p>

      <hr>
      <p class="lead">
        <a href="https://www.cbd.int/abs/doc/protocol/nagoya-protocol-fr.pdf">Document officiel du protocole de Nagoya</a>
      </p>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->




<!-- Section: Team v.1 -->
<section class="team-section text-center my-5" style="margin: 5%">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Notre équipe de développement</h2>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-ahlem.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Ahlem Ouldali</h5>
        <p class="text-uppercase blue-text"><strong>Chef de projet</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI).</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/OuldAliAhlem"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <a target="_blank" href="https://www.linkedin.com/in/ahlem-ould-ali-024001125/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
          
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.instagram.com/ouldali.ahlem/"><i class="fab fa-instagram blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-soumia.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Soumia Bahri</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/bahri.somia"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/bahri-somia-6126a7159/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-abdenour.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Abdenour Bentouati</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/abdenour.bentouati.58"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/bentouati-abdenour/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-aimen.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Aimen Boulahia</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/aimen.z0loy.boulahia"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/aimen-boulahia/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row" style="margin-top: 2%">
        
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-nada.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Nada Raihan Guennoun</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/NadaRaihan27"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/nada-guennoun-8a8320120/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-asmaa.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Asmaa Lagat</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/asmaa.lgt"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->

        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-ourida.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Ourida Radja</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/radja.assirem"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/ourida-radja-801327135/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../../assets/img/m-ramy.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Ramy Ahmed Amir Zemmouchi</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/bahri.somia"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/ramyzemmouchi/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.1 -->
