<!-- Section: Team v.1 -->
<section class="team-section text-center my-5" style="margin: 5%">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Notre équipe de développement</h2>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-ahlem.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Ahlem Ouldali</h5>
        <p class="text-uppercase blue-text"><strong>Chef de projet</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI).</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/OuldAliAhlem"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <a target="_blank" href="https://www.linkedin.com/in/ahlem-ould-ali-024001125/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
          
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.instagram.com/ouldali.ahlem/"><i class="fab fa-instagram blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-soumia.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Soumia Bahri</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/bahri.somia"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/bahri-somia-6126a7159/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-abdenour.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Abdenour Bentouati</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/abdenour.bentouati.58"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/bentouati-abdenour/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-aimen.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Aimen Boulahia</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/aimen.z0loy.boulahia"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/aimen-boulahia/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row" style="margin-top: 2%">
        
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-nada.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Nada Raihan Guennoun</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/NadaRaihan27"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/nada-guennoun-8a8320120/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-asmaa.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Asmaa Lagat</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/asmaa.lgt"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->

        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-ourida.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Ourida Radja</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/radja.assirem"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/ourida-radja-801327135/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets\img\m-ramy.jpg" class="rounded-circle z-depth-3"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Ramy Ahmed Amir Zemmouchi</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <a target="_blank" href="https://www.facebook.com/bahri.somia"><i class="fab fa-facebook-f blue-text"> </i></a>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <a target="_blank" href="https://www.linkedin.com/in/ramyzemmouchi/"><i class="fab fa-linkedin blue-text"> </i></a>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.1 -->