
<div class="row">
        <div class="dates col-lg-2" style="margin-top: 7%;margin-left: 2%">
                <!-- menu -->
                <div id="MainMenu">
                <div class="list-group panel">
                    <a routerLink="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Projet par année</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2019</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2018</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2017</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2016</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2015</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2014</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2013</a>
                    <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2012</a>
                </div>
                </div> 
        </div>
    
        <div class="my-5 col-lg-8">
    
                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold my-5">Les projets de 2019</h2>
            
                
                <div class="row">
            
                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">
            
                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                    <img class="img-fluid" src="http://www.dz.undp.org/content/dam/algeria/img/EnvironnementetEnergie/PNA44.jpg/_jcr_content/renditions/cq5dam.web.699.470.jpeg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">
            
                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3"><strong>Un pas supplémentaire pour la planification de l’adaptation aux changements climatiques en Algérie
                    </strong></h3>
                    <!-- Excerpt -->
                    <p class="dark-grey-text">À l’instar des pays de sa région, l’Algérie est particulièrement vulnérable aux effets des changements climatiques : réduction des précipitations et raréfaction des ressources hydriques, désertification, événements climatiques extrêmes...</p>
                    <!-- Post data -->
                    <p>par <a class="font-weight-bold">Dr Ismail Bennacer</a>, 19/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Lire plus</a>
            
                </div>
                <!-- Grid column -->
            
                </div>
                <hr class="my-5">
            
                 
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="http://www.dz.undp.org/content/dam/algeria/img/EnvironnementetEnergie/PNA44.jpg/_jcr_content/renditions/cq5dam.web.699.470.jpeg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
                
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3"><strong>Un pas supplémentaire pour la planification de l’adaptation aux changements climatiques en Algérie
                        </strong></h3>
                        <!-- Excerpt -->
                        <p class="dark-grey-text">À l’instar des pays de sa région, l’Algérie est particulièrement vulnérable aux effets des changements climatiques : réduction des précipitations et raréfaction des ressources hydriques, désertification, événements climatiques extrêmes...</p>
                        <!-- Post data -->
                        <p>par <a class="font-weight-bold">Dr Ismail Bennacer</a>, 19/04/2018</p>
                        <!-- Read more button -->
                        <a class="btn btn-primary btn-md">Lire plus</a>
                
                    </div>
                    <!-- Grid column -->
                
                </div>
                <hr class="my-5">
                

                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="http://www.dz.undp.org/content/dam/algeria/img/EnvironnementetEnergie/PNA44.jpg/_jcr_content/renditions/cq5dam.web.699.470.jpeg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
                
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3"><strong>Un pas supplémentaire pour la planification de l’adaptation aux changements climatiques en Algérie
                        </strong></h3>
                        <!-- Excerpt -->
                        <p class="dark-grey-text">À l’instar des pays de sa région, l’Algérie est particulièrement vulnérable aux effets des changements climatiques : réduction des précipitations et raréfaction des ressources hydriques, désertification, événements climatiques extrêmes...</p>
                        <!-- Post data -->
                        <p>par <a class="font-weight-bold">Dr Ismail Bennacer</a>, 19/04/2018</p>
                        <!-- Read more button -->
                        <a class="btn btn-primary btn-md">Lire plus</a>
                
                    </div>
                    <!-- Grid column -->
                
                </div>
                <hr class="my-5">
            
        </div>
</div>










