.container {
    margin-left: 20em; 
}

.card {
    margin: 15px 15px; 
    height: 300px; 
    width: 15rem;
    font-size: 12px; 
}

.card-padding {
    margin-left: 15px; 
    margin-right: 15px; 
    margin-bottom: 15px; 
}

.container-card {
    margin: -15px; 
    margin-bottom: 10px;
    margin-left: 30px; 
}

.title {
  text-align: center; 
  padding: 30px; 
  font-weight:300;
  color: #0b8557;
  background-color: #DEDEDE; 
}

.button-aj {
    position: absolute;
    margin-left: 20px; 
    margin-top: 30px;
}


/* define a fixed width for the entire menu */
.navigation {
  width: 300px;
  position: absolute;
  margin-left: 1em; 
  margin-top: 110px; 
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #F8F9FA; 
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #DEDEDE;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.button-aj {
  position: absolute;
  margin-left: 20px; 
  margin-top: 30px;
}

