@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 3px solid rgb(216, 216, 216);
  border-radius: 64px;
}
.loading-container {
  border-bottom-color: #007bff;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.small {
  width: 18px;
  height: 18px;
}
