
<a routerLink="/institution/ajouter" class="btn-lg btn-success button-aj">Ajouter</a>
<h2 class="title">LES INSTITUTIONS</h2>
<div class="row">
  <div class="col-lg-3 container-card" *ngFor="let institution of institutions">
    <div class="card">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title ">{{institution.nom}}</h6>
          <p class="card-text">
            {{institution.categorie}}
            <br>
            {{institution.type}}
          </p>
        </div>
        <a routerLink="/institution/{{institution.id}}" class="btn btn-primary card-padding">Consulter</a>
    </div>
  </div> 
</div>
