
<div class="container bg-light h-100" style="margin-bottom: 2em;" >
  <div class="row bg-primary p-3 align-items-center rounded" style="background-color: #0b8557 !important">
    <p class="col-auto h5 text-white m-0 p-0 mr-2">Gestion des</p>
    <p class="col-auto  h4 font-weight-bold text-white m-0 p-0">Institutions</p>
    <div class="col"></div>
    <button [disabled]="loading" class="btn btn-light" routerLink="/institution/add" (click)="onAddClicked()">
      <i class="fa fa-plus fa-1x  mr-1"></i>Ajouter une institution
    </button>
  </div>
</div>

<div class="col-12">
  <button class="btn btn-success btnchercher1" (click)="chercher()">Chercher par nom</button>
  <button class="btn btn-success btnchercher" (click)="chercherType()">Chercher par type</button>
  <button class="btn btn-success btnchercher" (click)="chercherStatut()">Chercher par statut</button>
  <button class="btn btn-success btnchercher" (click)="chercherCategorie()">Chercher par categorie</button>
  <button class="btn btn-success btnchercher" (click)="chercherSecteur()">Chercher par Secteur</button>
  <button class="btn btn-success btnchercher2" (click)="chercherTypeImplucation()">Chercher pa Implication Apa</button>
  <input type="text" [(ngModel)]="motCle" class="col-12 barsearch" placeholder="Rechercher par mot clé "/>
</div>

<!-- added by somia-->
<div>
  <a routerLink="/institution/add" class="btn-lg btn-danger button-aj">Ajouter </a>
  <h1 class="title">Liste des institutions</h1>
</div>

<div class="row">
  <div class="col-3 container-card" *ngFor="let institution of institutions">
    <div class="card">
      <div class="card-header bg-success"><h6 class="card-title txtcolor">{{institution.nom}}</h6></div>
      <div class="card-body">
        <b>Raison sociale&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.raison}}
        <br>

        <b>Statut juridique&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.statut}}
        <br>

        <b>Secteur d'activité&nbsp;:</b> {{institution.secteur}}
        <br>

        <b>Catégorie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.categorie}}
        <br>

        <b>Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.type}}
        <br>

        <b>Date de création&nbsp;&nbsp;:</b> {{institution.creation}}
        <br>
        <b>Implication Apa&nbsp;&nbsp;:</b> {{institution.typeApa}}
      </div>
      <a routerLink="/institution/{{institution.id}}" class="btn btn-success card-padding">Consulter</a>
    </div>
  </div>
</div>



