<div class="rectangle">
    <h3>Ressource génétique X</h3>
</div>
  <div class="container">
    <div class="row">
      <div class=" col-3" style=" padding-top: 50px;">
        <img class="img-thumbnail" src="../../assets/img/m-abdenour.jpg"  alt="café">
      </div>

    
      <div class="col-8 container" style="padding-top: 50px">
        <p>Nom commun en Français : </p> 
        <br>
        <p >Nom commun en Arabe : </p>
        <br>
        <p>Nom scientifique : </p>
        <br>
        <p>Description : </p>
        <br>
        <p>Morphologie : </p>
        <br>
        <p>Formule chimique : </p>
        <br>
        <p>Structure : </p>
        <br>
        <p>Environnement : </p>
        <br>
        <p>Transmission : </p>
        <br>
        <p>Cycle de vie : </p>
        <br> 
      </div>
    </div>
  </div>


  <div class="tabset">  
    <ngb-tabset>
    <ngb-tab title="Details">
      <ng-template ngbTabContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Informations additionelles">
      <ng-template ngbTabContent>
        <p>
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Formule chimique" [disabled]="true">
      <ng-template ngbTabContent>
        <p>
        </p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>



  <!--------------------------------------------------------------------------->

