<div class="row">
    <br>
    <p class="col-md-11">

    </p>

   <a href="evenements/ajouterevenements" class="col-md-1" style="margin-top: 15px"  class="btn btn-primary button-mod"> Ajouter</a>
    <br>
    <div class="dates col-lg-2" style="margin-top: 7%;margin-left: 2%">
        <!-- menu -->

                <div id="MainMenu">
                <div class="list-group panel">
                    <a class="list-group-item list-group-item-success" data-parent="#MainMenu">Evénements par année</a>

                    <a (click)="getEvent('2019')" style="color:blue; " class="list-group-item" data-parent="#MainMenu">2019</a>
                    <a (click)="getEvent('2018')" style="color:blue; " class="list-group-item" data-parent="#MainMenu" tyle="color:blue;">2018</a>
                    <a (click)="getEvent('2017')" style="color:blue; " class="list-group-item">2017</a>
                    <a (click)="getEvent('2016')" style="color:blue; " class="list-group-item" data-parent="#MainMenu">2016</a>
                    <a (click)="getEvent('2015')" style="color:blue; " class="list-group-item" data-parent="#MainMenu">2015</a>
                    <a (click)="getEvent('2014')" style="color:blue; " class="list-group-item" data-parent="#MainMenu">2014</a>
                    <a (click)="getEvent('2013')" style="color:blue; " class="list-group-item" data-parent="#MainMenu">2013</a>
                    <a (click)="getEvent('2012')" style="color:blue; " class="list-group-item" data-parent="#MainMenu">2012</a>
                    <hr class="my-5">
                    <div> </div>
                </div>
                </div> 
        </div>

    
        <div class="my-5 col-lg-8">

                <div class="row">

                    <div class="col-lg-5 col-xl-8" *ngFor="let activite of activites">

                    <!-- Grid column -->

                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="card-img-top" alt="...">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>

                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
                
                        <!-- Post title -->
                        <h5 class="font-weight-bold mb-3"><strong> {{activite.titre}}
                        </strong></h5>
                        <!-- Excerpt -->
                        <p class="dark-grey-text"> {{activite.description}}...</p>
                        <!-- Post data -->
                        <p>A <a class="font-weight-bold">{{activite.localisation}}</a>, Le {{activite.date_debut}}</p>
                        <!-- Read more button -->
                        <a href="/evenements/{{activite.id}}" class="btn btn-primary btn-md">Lire plus</a>
                
                    </div>
                    <!-- Grid column -->
                
                </div>
                <hr class="my-5">

                </div>
        </div>
        </div>
</div>










