<form [formGroup]="addForm" style="margin: 5%">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nom ">Nom de l'insitution</label>
                <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="Nom de l'insitution">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Raison sociale</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Statut juridique</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Nature de l'établissement</label>
                <select id="inputEtat" class="form-control">
                    <option selected>Nature 1</option>
                    <option>Nature 2</option>
                    <option>Nature 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Date de création</label>
                <input type="date" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Catégorie</label>
                <select id="inputEtat" class="form-control">
                    <option selected>Catégorie 1</option>
                    <option>Catégorie 2</option>
                    <option>Catégorie 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Type</label>
                <select id="inputEtat" class="form-control">
                    <option selected>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="inputPassword4">Secteur d'activité</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Site web</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Téléphone fix</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Téléphone portable</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Fax</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Type d'implication APA</label>
                <select id="inputEtat" class="form-control">
                    <option selected>Recherche</option>
                    <option>Éducation</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Date de création</label>
                <input type="date" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
        </div>	 
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Ajouter</button>
    </form>