<div class="container bg-light h-100" style="margin-bottom: 2em;" >
    <div class="row bg-primary p-3 align-items-center rounded" style="background-color: #0b8557 !important">
      <p class="col-auto h5 text-white m-0 p-0 mr-2">Gestion des</p>
      <p class="col-auto  h4 font-weight-bold text-white m-0 p-0">Ressources génétiques alimentaires</p>
      <div class="col"></div>
      <button [disabled]="loading" class="btn btn-light" routerLink="/rg/alimentaire/ajouter" (click)="onAddClicked()">
        <i class="fa fa-plus fa-1x  mr-1"></i>Ajouter une ressource
      </button>
    </div>
  </div>

<div class="container" >  
    <div class="row">
        <div class="col-lg-3 container-card" *ngFor="let rgAlimentaire of rgAlimentaires">
        <div class="card">
            <img style="height: 150px; width: 150px; margin: auto;" src="../../assets/img/no_image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">{{rgAlimentaire.nomCommunFr}}</h6>
                <p class="card-text">
                {{rgAlimentaire.nomScientifique}}
                </p>
            </div>
            <a routerLink="#" class="btn btn-primary card-padding">Consulter</a>
        </div>
        </div> 
    </div>
</div>