#carouselExampleControls{
    margin-right : 5%;
    margin-left : 5%;
    margin-top: 0.1%; 
}

.my-5{
    background-color: red;
    margin-right: 5%;
    margin-left: 5%;
    background-color:  #ebf9eb
}

.controls-top{
    text-align: center;
}

.carousel-indicators{
    margin: 5%;
}

#carousel-with-lb{
    margin-left: 4%;
    margin-right: 4%;
}