<div class="container" *ngIf="institution">
  <div class="col-12">
    <h1 class="title col-10">
      <b>{{institution.nom}}</b>
    </h1>
    <button class="btn btn-success col-1 float-right" (click)="onEditInstitution(institution.id)" >Modifier</button>
    <button class="btn btn-danger col-1 float-right" (click)="onDeleteInstitution(institution.id)">Supprimer</button>
    <br>
  </div>
  <ngb-tabset>
    <ngb-tab title="Profil">
      <ng-template ngbTabContent>
        <div class="container-info">
          <b>Raison sociale&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.raison}}
          <br>
          <b>Statut juridique&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.statut}}
          <br>
          <b>Secteur d'activité&nbsp;:</b> {{institution.secteur}}
          <br>
          <b>Catégorie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.categorie}}
          <br>
          <b>Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.type}}
          <br>
          <b>Date de création&nbsp;&nbsp;:</b> {{institution.creation}}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Contact">
      <ng-template ngbTabContent>
        <div class="container-info">
          <b>Téléphone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.telephone}}
          <br>
          <b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.email}}
          <br>
          <b>Site Web&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.site}}
          <br>
          <b>Fax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.fax}}
          <br>
          <b>Localisation &nbsp;:</b> {{institution.adresse}}
          <br>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Détail">
      <ng-template ngbTabContent>
        <div class="container-info">
          <b>Année d'implication à l'APA&nbsp;:</b> {{institution.anneeApa}}
          <br>
          <b>Type d'implication à l'APA&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{institution.typeApa}}
          <br>
          <b>informations additionnelles&nbsp;&nbsp;:</b>
          <P>
            {{institution.infoAdd}}
          </P>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>





