.container-info {
  padding: 2em; 
  padding-left: 20px; 
}

.button-mod {
  position: absolute;
  margin-left: 700px; 
}

.button-supp {
  position: absolute; 
  margin-left: 800px; 
}

.title {
  font-weight:300;
	color: #0b8557;
}

.rectangle {
  height: 80px;
  width: 100%;
  padding-top: 20px;
  padding-left: 80px;
  background-color: #ebf9eb;
  color:  #0b8557;
}


