

<div class="container" style="margin-top: 2%;margin-bottom: 2%">
            <form class="form-horizontal" role="form" [formGroup]="registerForm">
                <h2>Inscription</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Nom*</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Prénom*</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-5 control-label">Mot de passe*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-5 control-label">Confirmer mot de passe*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-5 control-label">Numéro de téléphone</label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="place" class="col-sm-5 control-label">Lieu</label>
                    <div class="col-sm-9">
                        <input type="place" id="place" placeholder="Lieu" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-5 control-label">Code postal</label>
                    <div class="col-sm-9">
                        <input type="postalcode" id="postalcode" placeholder="Code postal" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="profession" class="col-sm-5 control-label">Profession*</label>
                    <div class="col-sm-9">
                        <input type="profession" id="profession" placeholder="Profession" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="specialite" class="col-sm-5 control-label">Spécialité*</label>
                    <div class="col-sm-9">
                        <input type="specialite" id="specialite" placeholder="Specialité" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Champs obligatoires</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->